

h1 {
    font-size: 175%;
    font-weight: 900;
    padding: 15px;
}

h2 {
    font-size: 150%;
    font-weight: 900;
    padding: 10px;
}

input {
    min-width: 250px;
    text-align: center;
}

#history-display {
    line-height: 1.2;
}